---
import { getCollection } from "astro:content"
import Layout from "~components/layouts/Layout.astro"
import PostCard from "~components/layouts/PostCard.astro"
import StatusCard from "~components/layouts/StatusCard.astro"
import Time from "~components/atoms/Time.astro"
import Icon from "~components/atoms/Icon.astro"
import Pagination from "~components/widgets/Pagination.astro"
import { compare } from "~datetime"
import { postPathname } from "~universal"

export async function getStaticPaths({ paginate }) {
	const posts = (await getCollection("post"))
		.sort((p1, p2) => compare(p1.data.date, p2.data.date))
	return paginate(posts, { pageSize: 10 })
}

const { page } = Astro.props

const pageInfo = {
	hint: `Posts`,
	title: `Posts (Page ${page.currentPage})`,
	description: "Posts on naiyer.dev",
	url: Astro.url.pathname,
	previous: page?.url?.prev,
	next: page?.url?.next
}
---

<Layout {pageInfo} class="wrapper-base">
	<div class="subheadline conditionally-centered" slot="hero">
		<Icon name="posts"/>
		<span>Posts &mdash;&mdash; {page.start + 1}&hellip;{page.end + 1} of {page.total}</span>
	</div>
	<div class="showcase">
		{page.data.map(entry => entry.data.category === "status" ? <StatusCard {entry} /> : <PostCard {entry} />)}
	</div>
	<div class="action wrapper-max">
		<div class="action-items pagination">
			<Pagination currentPage={page.currentPage} totalPages={page.lastPage} base="posts"/>
		</div>
	</div>
</Layout>
