---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Icon from "../../components/Icon.astro";
import Toc from "../../components/Toc.astro";
import Time from "../../components/Time.astro";
import format, { compare, format_date } from "../../modules/datetime/index.js";
import readingTime from "../../modules/reading-time/index.js";
import toc from "../../modules/table-of-contents/index.js";
import siteInfo from "../../modules/website/index.js";
import { states } from "../../modules/schema/states.js";

export async function getStaticPaths() {
	const posts = await getCollection("archive");
	return posts.sort((p1, p2) => compare(p1.data.date, p2.data.date))
		.map(post => ({
			params: { id: post.id },
			props: { post }
		}));
}

const { post } = Astro.props;
const { data } = post;
const { Content, headings } = await render(post);
const url = Astro.url.pathname;
const showToc = data.showToc && headings && headings.length > 0;
const timeToRead = readingTime(post.body).readingTime;
const showUpdate = compare(data.update, data.date) !== 0;
const showReadingTime = timeToRead > 0;
const state = states.archived;

const pageInfo = {
	title: `${data.title} (Archived)`,
	description: data.description,
	url,
	source: `src/content/post/${post.id}`,
	type: "article",
	published: format(data.date, format_date),
	updated: showUpdate ? format(data.update, format_date) : undefined,
	timeToRead: showReadingTime ? timeToRead : undefined
};
---

<Layout {pageInfo}>
	<Fragment slot="hero">
		<nav class="hero-header breadcrumb">
			<a class="breadcrumb-item" href="/">Home</a>
			<span class="breadcrumb-item capitalized">{data.type}</span>
		</nav>
		<div class="hero-body">
			<hgroup>
				<h1>{data.title}</h1>
				{data.tagline && <p>{data.tagline}</p>}
			</hgroup>
		</div>
		<div class="hero-footer">
			<span><Icon name="calendar"/> Published on <Time date={data.date} /></span>{showUpdate && <span class="update"><Icon name="calendar-edit"/> Updated on <Time date={data.update} /></span>}{data.type !== "status" && showReadingTime && <span><Icon name="clock"/> Takes about {`${timeToRead} min to read`}</span>}<span class={`chip chip-${state.semantics}`}>{state.label}</span>
		</div>
	</Fragment>
	<article class="content">
		{showToc && <nav class="toc">
			<div class="toc-header">Table of Contents</div>
			<Toc headings={toc(headings, siteInfo.maxTocDepth)}/>
		</nav>}
		<Content/>
	</article>
</Layout>
