---
import Critical from "./Critical.astro";
import { pageInfoSchema } from "~schema";
import siteInfo from "~website";

const pageInfo = pageInfoSchema.parse(Astro.props.pageInfo);
const siteTitle = siteInfo.title;
const siteAuthor = siteInfo.author.name;
const mastodonUrl = siteInfo.author.networks.mastodon.link;
---
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{pageInfo.title} &mdash; {siteTitle}</title>
<link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="any">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<meta name="color-scheme" content="dark light">
<meta name="author" content={siteAuthor}>
<meta name="theme-color" content="#070708" media="(prefers-color-scheme: dark)">
<meta name="theme-color" content="#fefcfb" media="(prefers-color-scheme: light)">
<link rel="mask-icon" href="/mask-icon.svg" color="#db0b2f">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="sitemap" href="/sitemap-index.xml">
<link rel="alternate" type="application/rss+xml" href="/feed.xml">
{pageInfo.url && <link rel="canonical" href={pageInfo.url}>}
{pageInfo.source && <link rel="source" href={pageInfo.source}>}
{pageInfo.previous && <link rel="prev" aria-label="Previous page" href={pageInfo.previous}>}
{pageInfo.next && <link rel="next" aria-label="Next page" href={pageInfo.next}>}
{pageInfo.description && <meta name="description" content={pageInfo.description}>}
<meta property="og:type" content={pageInfo.type}>
<meta property="og:site_name" content={siteTitle}>
<meta property="og:locale" content="en">
<meta property="og:title" content={pageInfo.title}>
{pageInfo.description && <meta property="og:description" content={pageInfo.description}>}
{pageInfo.url && <meta property="og:url" content={pageInfo.url}>}
<meta property="og:image" content={pageInfo.image}>
{pageInfo.description && <meta property="og:image:alt" content={pageInfo.description}>}
{pageInfo.published && <meta property="article:published_time" content={pageInfo.published}>}
{pageInfo.updated && <meta property="article:modified_time" content={pageInfo.updated}>}
<meta name="twitter:card" content="summary">
<meta property="twitter:title" content={pageInfo.title}>
{pageInfo.description && <meta property="twitter:description" content={pageInfo.description}>}
<meta name="twitter:image" content={pageInfo.image}>
{pageInfo.timeToRead && <meta name="twitter:label1" content="Reading time">}
{pageInfo.timeToRead && <meta name="twitter:data1" content={`${pageInfo.timeToRead} min read`}>}
<link rel="me" href={mastodonUrl}>
<meta itemprop="name" content={pageInfo.title}>
{pageInfo.description && <meta itemprop="description" content={pageInfo.description}>}
<meta name="generator" content={Astro.generator}>
<Critical/>
<script src="/vendor/fuse@6.6.2.basic.min.js" is:inline async></script>
