---
import { getEntry } from "astro:content";
import Icon from "~components/Icon.astro";
import Layout from "~layouts/Layout.astro";

const { data, render } = await getEntry("profile", "about");
const { Content } = await render();

const name = data.title.split(" ")[0];
const avatar = `/images/profile/${data.avatar}`;

const pageInfo = {
	title: "About",
	description: data.description,
	type: "profile",
	url: Astro.url.pathname
};
---

<Layout {pageInfo}>
	<Fragment slot="hero">
		<div class="hero-header">
			<a class="hero-back-nav distinct-link" href="/"><Icon name="long-arrow-left"/>Return to home</a>
			<span class="hero-content-type">Profile</span>
		</div>
		<div class="hero-body">
			<div class="hero-headline-image">
				<img src={avatar} alt={data.title} class="avatar">
			</div>
			<div class="hero-headline-text">
				<h1 class="headline">About {name}</h1>
			</div>
		</div>
	</Fragment>
	<article class="content">
		<Content/>
	</article>
</Layout>

<script>
	export class RandomGreeting extends HTMLElement {
		static tagName = "random-greeting";
	
		static #messages = [
			`Hi`,
			`Kia ora`,
			`Merhaba`,
			`Khush Amdeed`,
			`Hello`,
		];
	
		connectedCallback() {
			this.innerHTML = RandomGreeting.#messages[Math.floor(Math.random() * RandomGreeting.#messages.length)];
		}
	}

	customElements.define(RandomGreeting.tagName, RandomGreeting);
</script>
