---
import { getEntry } from "astro:content";
import Icon from "~components/Icon.astro";
import Layout from "~layouts/Layout.astro";

const { data, render } = await getEntry("profile", "about");
const { Content } = await render();

const name = data.title.split(" ")[0];
const avatar = `/images/profile/${data.avatar}`;

const pageInfo = {
	title: "About",
	description: data.description,
	type: "profile",
	url: Astro.url.pathname
};
---

<Layout {pageInfo}>
	<Fragment slot="hero">
		<nav class="hero-header breadcrumb" aria-label="breadcrumbs">
			<a class="breadcrumb-item" href="/">Home</a>
			<span class="breadcrumb-item">Profile</span>
		</nav>
		<div class="hero-body">
			<div class="hero-headline-image">
				<img src={avatar} alt={data.title} class="avatar">
			</div>
			<div class="hero-headline-text">
				<h1 class="headline">About {name}</h1>
			</div>
		</div>
	</Fragment>
	<article class="content">
		<Content/>
	</article>
</Layout>
