---
import Icon from "../components/Icon.astro";
import IconPack from "../components/IconPack.astro";
import BackToTop from "../components/BackToTop.astro";
import Time from "../components/Time.astro";
import siteInfo from "../modules/website/index.js";

const authorInfo = siteInfo.author;
const authorPresence = authorInfo.presence;
const authorName = authorInfo.name;
const siteIssueUrl = siteInfo.issueBase;
const now = new Date();
---

<footer class="footer">
	<div class="footer-nav">
		<div class="footer-nav-items">
			<a href="/feed.xml"><Icon name="rss"/>Posts</a>
			<a href="/all.xml"><Icon name="rss"/>Posts+notes</a>
			{Object.entries(authorPresence).map(([network, details]) => <a href={details.url} rel="nofollow noopener noreferrer"><Icon name={network} alt={details.title}/>{details.title}</a>)}
		</div>
		<div class="footer-nav-items">
			<a href="/privacy/">Privacy</a>
			<a href="/sitemap-index.xml">Sitemap</a>
			<a href={siteIssueUrl} rel="nofollow noopener noreferrer">Report an issue</a>
		</div>
		<div class="footer-nav-items">
			<div>&copy; 2018, <a href="/about/">{authorName}</a></div>
			<div>Updated on <Time date={now} /></div>
			<BackToTop/>
		</div>
	</div>
</footer>
<IconPack/>
