---
import Sprites from "~components/Sprites.astro";
import BackToTop from "~components/BackToTop.astro";
import siteInfo from "~website";

const authorInfo = siteInfo.author;
const authorNetworks = authorInfo.networks;
const siteAuthor = authorInfo.name;
const siteIssueUrl = siteInfo.issueBase;
---

<footer class="footer">
	<div class="footer-quote">
		<random-quote></random-quote>
		<noscript>
			<blockquote><p>You can stop scrolling now. Take a break, sit back, and give yourself a moment.</p><cite>&mdash; Author of this site</cite></blockquote>
		</noscript>
	</div>
	<div class="footer-sections">
		<div class="footer-subscribe">
			<strong>Subscribe with RSS</strong>
			(<small><a href="https://aboutfeeds.com/" rel="nofollow noopener noreferrer">What's RSS?</a></small>)
			<ul>
				<li><a href="/feed.xml">Just posts</a></li>
				<li><a href="/feed.xml">Posts + statuses</a></li>
			</ul>
		</div>
		<div class="footer-shortcuts">
			<strong>Keyboard Shortcuts</strong>
			<ul>
				<li><kbd>ctrl+k</kbd> or <kbd>cmd+k</kbd> : launch command bar</li>
				<li><kbd>esc</kbd> : close command bar</li>
			</ul>
		</div>
		<div class="footer-preferences">
			<strong>Preferences</strong>
			<ul>
				<li>Current theme: <theme-switcher><span slot="theme-dark">Dark</span><span slot="theme-light">Light</span></theme-switcher></li>
				<li>Bandwidth mode: <bandwidth-mode-switcher></bandwidth-mode-switcher></li>
			</ul>
		</div>
	</div>
	<div class="footer-nib">
		<div class="footer-nib-copyright">
			&copy; 2018 &mdash; today, {siteAuthor}
		</div>
		<div class="footer-nib-links">
			<a href={authorNetworks.mastodon.link} aria-label={authorNetworks.mastodon.platform} rel="nofollow noopener noreferrer">{authorNetworks.mastodon.platform}</a>
			<a href={authorNetworks.github.link} aria-label={authorNetworks.github.platform} rel="nofollow noopener noreferrer">{authorNetworks.github.platform}</a>
			<a href={authorNetworks.linkedin.link} aria-label={authorNetworks.linkedin.platform} rel="nofollow noopener noreferrer">{authorNetworks.linkedin.platform}</a>
		</div>
		<div class="footer-nib-links">
			<a href={siteIssueUrl} rel="nofollow noopener noreferrer">Report an issue</a>
			<a href="/privacy/">Privacy</a>
			<a href="/sitemap-index.xml">Sitemap</a>
		</div>
	</div>
</footer>
<aside class="floating-back-to-top">
	<BackToTop/>
</aside>
<Sprites/>

<script>
	export class RandomQuote extends HTMLElement {
		static tagName = "random-quote";
	
		static #messages = [
			`<blockquote><p>Finiteness is a feature.</p><cite>&mdash; Author of this site</cite></blockquote>`,
			`<blockquote><p>You can stop scrolling now. Take a break, sit back, and give yourself a moment.</p><cite>&mdash; Author of this site</cite></blockquote>`,
			`<blockquote><p><del>Zoom out</del> <ins>Take a nap</ins> for perspective.</p><cite>&mdash; original quote from James Clear (paraphrased and fixed)</cite></blockquote>`,
			`<blockquote><p>6 hours of raging at a problem can save you 5 minutes of taking rest and solving it.</p><cite>&mdash; A senior software engineer</cite></blockquote>`,
			`<blockquote><p>6 hours of raging at a problem can save you 5 minutes of taking rest and solving it.</p><cite>&mdash; A senior software engineer</cite></blockquote>`,
			`<blockquote><p>sometimes the best way to follow your dreams is to take a nap</p><cite>&mdash; <a href="https://fediverse.zachleat.com/@zachleat/111902455317042997" rel="nofollow noopener noreferrer">Zach Leatherman</a></cite></blockquote>`,
		];
	
		connectedCallback() {
			this.innerHTML = RandomQuote.#messages[Math.floor(Math.random() * RandomQuote.#messages.length)];
		}
	}

	customElements.define(RandomQuote.tagName, RandomQuote);
	
	import "../modules/bandwidth-mode-switcher/index.js";
</script>
